

/*________LIST VIEW___________________*/


.table-big {
  border: 2px solid #eee;
  border-radius: 4px;
  font-family: 'Roboto Slab', sans-serif; 
  background: #333;
  color: #fff;
}

.table-small {
  border: 2px solid #eee;
  border-radius: 0px;
  font-family: 'Roboto Slab', sans-serif; 
  background: #333;
  color: #fff;
  border-bottom: 2px solid transparent;
  span {
    color: #FFCB27;
    margin-left: .5em;
  }
  &:last-child {
    margin-bottom: 1em;
    border-bottom: 2px solid #eee;
  }
  &:first-child {
    margin-top: 1em !important;
  }
  &:hover {
    background-color: #555;
    cursor: pointer;
  }
}

#list {
  width: 77%;
  margin: auto;
  @media (max-width: 950px) {
    width: 90% !important;
  }
}

th {
  font-size: 1.5em;
  color: #FFCB27;
  padding: 1em;
  padding-left: .5em;
}

.table-big-data td {
  padding: .5em;

}

.event-list-item {
  cursor: pointer;
}

.panel-list {
  background-color: #333;
}

.table-big {
  margin: 1em 0;
  min-width: 100%;
}

.table-big tr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.table-big td:first-child {
  padding-top: .5em;
}
.table-big td:last-child {
  padding-bottom: .5em;
}

.table-big tr {
  border-color: #eee;
}
.table-big th, .table-big td {
  margin: .5em 1em;
}

.table-big tr {
  &:hover {
    background-color: #555;
    cursor: pointer;
  }
}









