<ui-view>
  <div class="welcome-top row">
    <div class="pull-left">
      <img class="logo img-responsive" alt="logo" src="img/logocrop.png">
    </div>
    <div class="pull-right">
      <div class="text-secondary-container">
        <p class="text-secondary" ng-click="doSomething()">Got something to bragg about?</p> <button id="add-achievment" ng-click="openAddEvent()">Add it here</button>
      </div>
    </div>
  </div>
  <div class="row map-nav">
    <div class="col-sm-4">
      <div class="btn-group map-list-btns nav-item" data-toggle="buttons">
        <button type="button" id="btn-map" class="btn" ng-class="{'btn-toggle-active': data.mapview}" name="options" ng-click="toggleView(true)"><span class="glyphicon glyphicon-globe globe-icon-btn"></span></button>
        <button type="button" id="btn-list" class="btn" ng-class="{'btn-toggle-active': !data.mapview}" name="options" ng-click="toggleView(false)"><span class="glyphicon glyphicon-list-alt list-icon-btn"></span></button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-inline search-box nav-item" role="search">
        <div class="input-group search-box">
          <input type="text" class="form-control search-input" id="search-input" placeholder="Search" ng-model="data.searchbar_text">
          <span class="input-group-btn">
            <button class="btn search-btn">GO</button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="filter-map" class="dropdown">
        <button type="button" id="sort-map-dropdown-button" class="btn dropdown-toggle sort-map-btn" data-toggle="dropdown" aria-expanded="false">
        FILTER MAP <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-center" role="menu" id="sort-map-list">
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
  <div id="list" ng-hide="data.mapview">
    <div class="row">
      <div class="col-sm-12">


        <table ng-if="windowWidth > 800" class="table-big">
            <tr>
              <th>Rider</th>
              <th>Date</th>
              <th>Trick</th>
              <th>Discipline</th>
              <th>Location</th>
            </tr>
            <tr class="table-big-data" ng-repeat="event in data.filteredMarkers" ng-click="openEventDetails(event)">
              <td data-th="Rider">{{event.Name}}</td>
              <td data-th="Date">{{event.Date}}</td>
              <td data-th="Trick">{{event.Trick}}</td>
              <td data-th="Discipline">{{event.Discipline}}</td>
              <td data-th="Location">{{event.City + ', ' + event.Country}}</td>
            </tr>
        </table>


      </div>
    </div>
  </div>
  <div id="map-container" ng-show="data.mapview">
    <h1 class="error" ng-if="map_error">Map failed to load. Please use the list view.</h1>
    <ui-gmap-google-map class="main-map" center='map.center' zoom='map.zoom' options="map.options" bounds="map.bounds" control="map.control" pan="'true'">
      <!-- <ui-gmap-markers models="data.filteredMarkers" idKey="'$id'" coords="'coords'" click="clickedMarker" icon="'imgpath'"></ui-gmap-markers> -->
      <ui-gmap-markers models="data.filteredMarkers" idKey="'$id'" coords="'coords'" click="clickedMarker"></ui-gmap-markers>
    </ui-gmap-google-map>
    <br/>
  </div>
  </div>
  <p class="credits">Created by Kollyn Lund and Tanner Bindrup.</p>
</ui-view>
