<div class="modal-header modal-header-add-event">
	<button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>

	<h4 class="modal-title add-event-header-title" id="ModalLabel">Add an achievement</h4>
</div>

<div class="add-event-form">
	<div class="form-group add-event-modal-main-form-group">
		<div class="input-group-container">
			<h4>Achievement Info</h4>
			<div class="input-group input-add-event-group">
				<div class="input-group-addon"><i class="fa fa-user add-event-icon"></i></div>
				<input type="text" class="form-control input-name" name="name-input" placeholder="Enter the full name of the person who achieved greatness" ng-model="fields.Name">
			</div>

			<div class="input-group input-add-event-group">
				<div class="input-group-addon"><i class="fa fa-star add-event-icon"></i></div>
				<input type="text" class="form-control input-trick" placeholder="Enter a description of what they did" name="trick-input"ng-model="fields.Trick">
			</div>

			<div class="input-group input-add-event-group">
				<div class="input-group-addon"><i class="fa fa-calendar add-event-icon"></i></div>
				<!-- <input type="date" class="form-control" datepicker-popup ng-model="fields.Date" is-open="status.opened" min-mode="year" datepicker-mode="month" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" /> -->
				<select ng-model="fields.Year" ng-options="y for y in years" ng-init="fields.Year = current_year"></select>
				<select ng-model="fields.Month" ng-options="m for m in months" ng-init="fields.Month = months[current_month]"></select>
				<select ng-model="fields.Day" ng-options="d for d in days" ng-init="fields.Day = current_day"></select>
			</div>

			<div class="input-group input-add-event-group">
				<div class="input-group-addon"><i class="fa fa-magic add-event-icon"></i></div>
				<select class="form-control input-discipline" name="discipline-input" ng-options="discipline for discipline in disciplines" ng-model="fields.Discipline">
					<option value='' ng-hide="fields.Discipline">-- Select a discipline --</option>
				</select>
			</div>

			<div class="form-group">
				<div class="input-group-addon">Details <i class="fa fa-info-circle add-event-icon"></i></div>
				<textarea class="form-control input-details" id="input-details" placeholder="Additional details about the achievment" name="details-input" ng-model="fields['Additional Information']"></textarea>
			</div>
		</div>

		<div class="input-group-container">
			<h4 style="display:block">Location of achievement (click on map to drop pin)</h4>

			<div class="row" ng-if="fields.Country">
				<div class="text-center" ng-class="{'col-xs-4': (fields.State && fields.City), 'col-xs-6': (fields.State && !fields.City), 'col-xs-12': (!fields.State && !fields.City)}"><h5>Country: {{fields.Country}}</h5></div>
				<div class="text-center" ng-class="{'col-xs-4': (fields.City), 'col-xs-6': (!fields.City)}" ng-if="fields.State"><h5>State: {{fields.State}}</h5></div>
				<div class="text-center" class="col-xs-4" ng-if="fields.City"><h5>City: {{fields.City}}</h5></div>
			</div>

			<ui-gmap-google-map class="add-event-map" center='map.center' zoom='map.zoom' options="map.options" bounds="map.bounds" control="map.control" events="map.events" ng-if="mapview">
				<ui-gmap-markers models="map.placed_marker" idKey="'id'" coords="'coords'"></ui-gmap-markers>
			</ui-gmap-google-map>
		</div>

		<div class="input-group-container">
			<h4>Media</h4>	 
			<div class="input-group input-add-event-group">
				<div class="input-group-addon"><i class="fa fa-video-camera add-event-icon"></i></div>
				<input type="text" class="form-control input-video" ng-model="fields.Video" placeholder="Copy and paste link to YouTube or Vimeo video" name="video-input">
			</div>
		</div>

		<div class="input-group-container">
			<div class="form-group email-input-group">
				<i class="fa fa-exclamation email-icon"></i><label id="email-label"> Add your email address to recieve notifications of new achievements.</label>
				<input type="email" class="form-control input-email" id="input-email" placeholder="Enter email" name="email-input">
			</div>
		</div>
		
		<h3 ng-if="submit_tried && !valid_event">Sorry, one of the event fields isn't valid. Look them over and try again!</h3>
		<button type="submit" class="btn add-event-submit-button" ng-click="submit()">Submit</button>
	</div>
</div>