<div class="details-container">
	<div class="row text-center">
		<div class="col-md-12">
			<div class="header-event-modal">
				<div class="event-data-modal-name">{{theEvent.Name}}</div>
				<div class="event-data-modal-trick">{{theEvent.Trick}}</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div id="photo-vid-container">
				<h2 class="details-left">Proof</h2>
				<div style="width: 100%" class="embed-responsive embed-responsive-16by9">
					<!-- <iframe class="embed-responsive-item event-video" ng-src="{{'https://youtube.com/embed/'+}}" allowfullscreen></iframe> -->
					<anguvideo ng-if="theEvent.Video" ng-model="theEvent.Video" width="100%" height="100%"></anguvideo>
					<iframe ng-if="!theEvent.Video" class="embed-responsive-item event-video" src="templates/videoError.html" allowfullscreen></iframe>
				</div>
<!-- 								<div class="btn-vid-photo-group" data-toggle="buttons">
				<button type="button" id="btn-photo" class="btn btn-toggle-active" name="options"><i class="fa fa-camera glode-icon-btn"></i></span></button>
				<button type="button" id="btn-video" class="btn" name="options"><i class="fa fa-video-camera list-icon-btn"></i></button>
			</div> -->
		</div>
		
		<div class="event-modal-extra" ng-show="{{theEvent['Additional Information']}}">
			<h2 class="details-left">Details</h2>
			<div class="event-data-modal-extra">{{theEvent['Additional Information']}}</div>
		</div>
		</div><!-- Closes 9 col grid -->
		<div class="col-sm-3 display-event-info-modal-col-left">
			<div class="border">
				<div class="event-modal-discipline">
					<h2 class="discipline-left">Discipline</h2>
					<img ng-src="{{'img/svg/'+theEvent.Discipline.toLowerCase()+'.svg'}}" alt="example" class="img-responsive svg-icon-left event-data-modal-discipline-graphic">
					<div class="event-data-modal-discipline">{{theEvent.Discipline}}</div>
				</div>
				<div class="event-modal-location">
					<h2 class="location-left">Location</h2>
					<span class="glyphicon glyphicon-globe globe-modal" aria-hidden="true"></span>
					<div class="event-data-modal-city">{{theEvent.City}}</div>
					<div class="event-data-modal-country">{{theEvent.Country}}</div>
				</div>
				<div class="event-modal-date" ng-show="{{theEvent.Date}}">
					<h2 class="date-left">Date</h2>
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					<div class="event-data-modal-date">{{theEvent.Date}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
